h1,
h3 {
    color: white;
    justify-self: center;
    padding: 10px;
    font-family: Arial;
}

.banner {
    position: relative;
    width: 100%;
    height: 30vh;
    /* 20% of screen height */
    overflow: hidden;
}

.banner-img {
    opacity: 90%;
    object-fit: cover;
    /* makes it behave like a proper banner */
}

.contact {
    display: flex;
    height: 70vh;
    background-color: black;
    justify-content: center;
    padding: 10px;
}

.contact-page-header {
    padding: 20px;
    text-align: justify;
    width: 50%;
}

.contact-form {
    justify-content: left;
}

.getintouch {
    text-align: center;
}

p {
    font-family: Arial;
    padding: 15px;
}

.contact-form {
    width: 50%;
}
.input-name{
    padding-left: 0%;
}

.input {
    width: 80%;
    height: 25px;
    border: none;
    background-color: rgb(200, 219, 219);
}

.message {
    width: 80%;
    height: 80px;
    border: none;
    background-color: rgb(200, 219, 219);
}

button {
    color: black;
    background-color: rgb(200, 219, 219);
    padding: 10px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: 0;
}

@media (max-width: 700px) {
    .contact {
        display: block;
        height: 70vh;
        background-color: black;
        padding: 10px;
    }

    .contact-page-header {
        padding: 20px;
        text-align: justify;
        width: 90%;
        margin: 0 auto;
    }

    .contact-form {
        width: 90%;
        margin: 0 auto;
    }

    .input {
        width: 100%;
        height: 25px;
        border: none;
        background-color: rgb(200, 219, 219);
    }

    .message {
        width: 100%;
        height: 80px;
        border: none;
        background-color: rgb(200, 219, 219);
    }

    button {
        color: black;
        background-color: rgb(200, 219, 219);
        padding: 10px;
        margin-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        border: 0;
    }

}